.main {
   background-color: #17171f;
   color: #7A7C80;
   font-family: 'Open sans';
   font-style:normal;
   font-size: 21px;
   scroll-behavior: smooth;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
  

.photo {
  border-radius: 50%;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
  

.small {
    font-size: small;
}


.white {
    color: aliceblue;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
